<div class="row">
  <div class="span2 offset4 centered">
    <div class="tooltip-trigger" data-title="Upload a new file from your computer or elsewhere" data-placement="left">
      <p>
        <a href="#" class="filepicker">
          <img src="/img/file_upload.png" alt="upload-file" />
        </a>
      </p>
      <p>
        <a href="#" class="filepicker btn btn-success">Upload File</a>
      </p>
    </div>
  </div>
  <div class="span2 centered">
    <div class="tooltip-trigger" data-title="Use a file on another page" data-placement="right">
      <p>
        <a href="#" class="useExisting">
          <img src="/img/folder.png" alt="upload-file" />
        </a>
      </p>
      <p>
        <a href="#" class="useExisting btn btn-info">Use Existing</a>
      </p>
    </div>
  </div>
</div>
<div class="row">
  <div class="span6 offset3 centered">
    <h2>Uploaded Files</h2>
  </div>
</div>