<div class="row">
  <div class="span12 centered">
    <h1>
      <a href="/">{{jumboheading.value}}</a>
    </h1>
  </div>
</div>
<div class="row">
  <div id="navbar" class="span12 centered-pills">
  
  </div>
</div>