<ul class="reelgrid">
{{#each media}}
  <li>
    <a href="{{playerUrl}}" class="app">
      <img src="{{thumbnailUrl}}" alt="{{name}}" />
      <div class="captions">
        <h2>{{name}}</h2>
      </div>
    </a>
  </li>
{{/each}}
</ul>