<div class="row">
  <div id="navbar" class="span12">
  
  </div>
</div>
{{#if flash}}
<div class="alert alert-{{flashType}}">
  <button type="button" class="close fui-cross" data-dismiss="alert"></button>
  {{flash}}
</div>
{{/if}}