<div class="container">
  <div id="header">
  </div>
  <div id="content" class="row">
    <div id="mediagrid" class="span12 centered">
    </div>
  </div>
</div>
<div id="footer" class="bottom-menu">
</div>