<div class="container">
  <div id="header">
  </div>
  <div id="content" class="row">
    <div class="alert alert-info centered">
      <big>Select thumbnails for these files so they look good on your portfolio.</big>
    </div>
    <div id="reviewList" class="span12 centered">
    </div>
  </div>
</div>
<div id="footer" class="bottom-menu">
</div>