<div class="container">
  <div id="header">
  </div>
  <div id="content" class="row">
    <div id="editForm" class="span6">
    </div>
    <div id="preview" class="span6">
    </div>
  </div>
</div>
<div id="footer" class="bottom-menu">
</div>