<div class="container">
  <div id="header">
  </div>
  <div id="content" class="row">
    <div class="alert alert-info centered">
      <big>These files need to be reviewed before they can appear on your website.</big>
    </div>
    <div id="reviewList" class="span12 centered">
    </div>
  </div>
</div>
<div id="footer" class="bottom-menu">
</div>